.container {
    display: flex;
    flex: 1;
    min-height: 100vh;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:500px) {
    .container {  padding-top: 70px }
}

@media(max-height:470px){
    .container { padding-top: 80px }
}